<!-- <div class="p-auto" nopadding>
 

</div> -->
<ion-app  > 
  <ion-content >
    <div class="text-center" style="background-color: #00bbff;">
      Gestion d'absence

    </div>
    <div class="header-classes">

        <div>
            <strong>Date</strong><br>
            {{date|date}}

        </div>
        <div>

          <strong>Classes</strong><br>
          <span class="count">{{classes.length}}</span>

        </div>
    
    </div>
    <div class="mt-4">
     
        <div 
        *ngFor="let ensaClass of classes" 
          
        class="aClass" 
       >

            <div
            (click)="goToClass(ensaClass.id,ensaClass.titre)"
            class="classTitre">
                <strong>
                  {{ensaClass.titre}}
                </strong>
            </div>
            <div class="edit">
             
               <img src="../../assets/edit.svg" alt="">
            </div>
         
        </div>
       
      
    </div>
   
   
  </ion-content>
  
  <ion-footer>
    <ion-toolbar
    
    color="light"
    class="text-center">
      <button
      class="btn btn-light"  
      (click)="addClass()"
      expand="full"
      style="outline:none;border: none;">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-toolbar>
  </ion-footer>
</ion-app>